body {
    font-family: HelveticaNeueLT, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background: #0c5a71;
    color: #fff;
}

.progressContainer {
    width: 180px;
    height: 20px;
    margin: 0;
    padding: 0;
    background: #aaa;
    overflow: hidden;
}

.progressContainer .progress {
    width: 0px;
    height: 20px;
    margin: 0;
    padding: 0;
    background: blue;
}

.progressContainer .success {
    width: 0px;
    height: 20px;
    margin: 0;
    padding: 0;
    background: green;
    float:left;
    display:block;
}

.progressContainer .failure {
    width: 0px;
    height: 20px;
    margin: 0;
    padding: 0;
    background: red;
    float:left;
    display:block;
}

.progressContainer .label {
    position: absolute;
    color: #fff;
    font-weight: bolder;
    font-family: courier;
}

#stateContainer, #workProgress {
    float: left;
}

#stateContainer {
    width: 180px;
}

#stateContainer div {
    float: left;
}

#state {
    margin-left: 10px;
}

#folderContainer div {
    float: left;
}

#folders {
    margin-left: 10px;
}

#logContainer pre {
    width: 960px;
    overflow: hidden;
}

#indicators {
    font-weight: 300;
    font-size: 0.9em;
}

#logContainer legend, #logContainer fieldset {
    color: #000;
    background: #fff;
}

#states, #actions, #logContainer, #folderContainer {
    clear: both;
    overflow: auto;
}

#counterContainers .counterContainer {
    clear: both;
}

#counterContainers .counterContainer div.label {
    margin-left: 10px;
}

#counterContainers .counterContainer div {
    float: left;
}
