.progressContainer {
    width: 180px;
    height: 20px;
    margin: 0;
    padding: 0;
    background: #ddd;
    overflow: hidden;
}

.progressContainer .progress {
    width: 0px;
    height: 20px;
    margin: 0;
    padding: 0;
    background: blue;
}

.progressContainer .success {
    width: 0px;
    height: 20px;
    margin: 0;
    padding: 0;
    background: green;
    float:left;
    display:block;
}

.progressContainer .failure {
    width: 0px;
    height: 20px;
    margin: 0;
    padding: 0;
    background: red;
    float:left;
    display:block;
}

.progressContainer .label {
    position: absolute;
    color: #fff;
    font-weight: bolder;
    font-family: courier;
}

#stateContainer, #workProgress {
    float: left;
}

#stateContainer {
    width: 180px;
}

#stateContainer div {
    float: left;
}

#state {
    margin-left: 10px;
}

#folderContainer div {
    float: left;
}

#folders {
    margin-left: 10px;
}

#states, #actions, #logContainer, #folderContainer {
    clear: both;
}

#counterContainers .counterContainer {
    clear: both;
}

#counterContainers .counterContainer div.label {
    margin-left: 10px;
}

#counterContainers .counterContainer div {
    float: left;
}
